html {
    font-size: 1rem;
  }
  
  @include media-breakpoint-up(sm) {
    html {
      font-size: 1.2rem;
    }
  }
  
  @include media-breakpoint-up(md) {
    html {
      font-size: 1.4rem;
    }
  }
  
  @include media-breakpoint-up(lg) {
    html {
      font-size: 1.6rem;
    }
  }
  .display-4 {
    font-family: 'Jua';
  }
  .display-5 {
    font-family: 'Jua';
  }
  .display-6 {
    font-family: 'Cormorant Garamond';
  }
  .display-7 {
    font-family: 'Jua';
  }
.navbar-inverse .navbar-brand {
    display: inline-block;
    align-items: center;
    padding: 5px; 
  }
  .navbar-brand img {
    height: 100%;
    margin-right: 20px;
  }
  .navbar-nav {
    margin-left: auto;
    font-family: 'Jua';
}
  .jumbotron {
    background-color: #1A535C; no-repeat center;
    background-size: cover;
    height: 100%;
  }
  a.btn {
    display: inline-block;
    font-family: sans-serif;
    font-size: 12px;
    font-weight: 700;
    letter-spacing: 1.5px;
    padding: 11px 30px;
    background-color: #FFE66D;
    background-image: linear-gradient(to bottom,#636363,#000);
    color: #1A535C;
  }
  
  a.btn:hover {
    background-image: linear-gradient(to bottom,#000,#000);
  }
          .sitetitle {
    position: relative;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
 }
.copyright-txt {
  background-color: rgba(0, 0, 0, 0.2);
  margin-top: 40px;
  padding: 20px;
  font-display: 'Josefin Sans' sans-serif;
}
     .card-text {
      font-family: 'Josefin Sans';
    }
    .text-center {
      font-family: 'Josefin Sans';
    }
    .btn-btn-light {
      font-family: 'Jua';
    }
    .btn {
      font-family: 'Jua';
    }
    .p {
      font-family: 'Josefin Sans';
      font-size: 20px;
      padding-right: 20px;
      padding-left: 0px;
    }
    .list {
      font-family: 'Josefin Sans';
      font-size: 24px;
    }
/* Footer */
@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');
section {
    padding: 60px 0;
}

section .section-title {
    text-align: center;
    color: #1A535C;
    margin-bottom: 50px;
    text-transform: uppercase;
}
#footer {
    background: #1A535C !important;
}
#footer h5{
	padding-left: 10px;
    border-left: 3px solid #eeeeee;
    padding-bottom: 6px;
    margin-bottom: 20px;
    color:#ffffff;
}
#footer a {
    color: #ffffff;
    text-decoration: none !important;
    background-color: transparent;
    -webkit-text-decoration-skip: objects;
}
#footer ul.social li{
	padding: 3px 0;
}
#footer ul.social li a i {
    margin-right: 5px;
	font-size:25px;
	-webkit-transition: .5s all ease;
	-moz-transition: .5s all ease;
	transition: .5s all ease;
}
#footer ul.social li:hover a i {
	font-size:30px;
	margin-top:-10px;
}
#footer ul.social li a,
#footer ul.quick-links li a{
	color:#ffffff;
}
#footer ul.social li a:hover{
	color:#eeeeee;
}
#footer ul.quick-links li{
	padding: 3px 0;
	-webkit-transition: .5s all ease;
	-moz-transition: .5s all ease;
	transition: .5s all ease;
}
#footer ul.quick-links li:hover{
	padding: 3px 0;
	margin-left:5px;
	font-weight:700;
}
#footer ul.quick-links li a i{
	margin-right: 5px;
}
#footer ul.quick-links li:hover a i {
    font-weight: 700;
}

@media (max-width:767px){
	#footer h5 {
    padding-left: 0;
    border-left: transparent;
    padding-bottom: 0px;
    margin-bottom: 10px;
}
}